#idiGore{
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 999;
    
}
#idiGore a{
    display: block;
    background-color: #333e4f;
    border: 2px solid #333e4f;
    padding: 10px;
}
#idiGore a i{
    color: #fff;
}
#filterIsort{
    color:#fff;
}
.novaCena{
    font-weight: bold;
}
.staraCena{
    font-size: small;
    color: red;
}
.addToCart{
    color: #fed136;
}
#tabela{
    margin: 0px auto;
    width: 100%;
    border-collapse: collapse;
}
td,th{
    padding: 20px;
}
a{
    font-weight: bold;
}
.seo{
    display: none;
}